@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: red 2px solid; */ }

.body {
  font-family: "Times New Roman", Times, serif;
  background-color: #2f3a4c; }

header .header-fondo {
  display: flex;
  flex-direction: column;
  background-image: url(../assests/img/baul.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  gap: 30%; }
  header .header-fondo .navbar {
    display: flex;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.63);
    color: #745821;
    height: 5rem;
    justify-content: space-between; }
    header .header-fondo .navbar .logo-navbar {
      background-image: url(../assests/img/logo.png);
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      width: 251px;
      height: 100%;
      margin-left: .3125rem; }
      header .header-fondo .navbar .logo-navbar a {
        width: 251px;
        height: 100%; }
    header .header-fondo .navbar .list-navbar {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      text-decoration: none;
      gap: 20px;
      list-style-type: none;
      align-items: center;
      margin-right: 20px; }
      header .header-fondo .navbar .list-navbar a {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 1.375rem;
        font-weight: 600;
        color: #745821; }

header .logo-header {
  align-self: center;
  justify-self: center; }

.footer {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: black;
  justify-content: space-evenly;
  align-items: center; }
  .footer .footer-one {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-evenly; }
    .footer .footer-one .footer-one-nav ul li a {
      color: white;
      text-decoration: none; }
    .footer .footer-one .footer-icons {
      display: flex; }
  .footer .footer-two nav ul li a {
    color: white;
    text-decoration: none; }
  .footer .footer-three p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none; }

main .section-one {
  background-image: url(../assests/img/piratelego.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  height: 324px;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
  color: white; }
  main .section-one .section-one-logo {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-content: center;
    height: 100%; }
  main .section-one .section-one-textos {
    width: 25%; }
    main .section-one .section-one-textos h1 {
      padding-bottom: 1.875rem; }

main .section-two {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: repeat(2, 90%);
  grid-template-areas: "image-uno image-dos image-three" "a b c";
  margin-top: 1.875rem;
  gap: 1.25rem;
  justify-content: space-evenly; }
  main .section-two .image-uno {
    grid-area: image-uno; }
    main .section-two .image-uno img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603); }
    main .section-two .image-uno h2 {
      color: white;
      padding: 0.5rem 0;
      text-align: center;
      margin: 20px 0; }
  main .section-two .image-dos {
    grid-area: image-dos; }
    main .section-two .image-dos img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603); }
    main .section-two .image-dos h2 {
      color: white;
      padding: 0.5rem 0;
      text-align: center;
      margin: 20px 0; }
  main .section-two .image-three {
    grid-area: image-three; }
    main .section-two .image-three img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603); }
    main .section-two .image-three h2 {
      color: white;
      padding: 0.5rem 0;
      text-align: center;
      margin: 20px 0; }
  main .section-two .section-two-cta {
    height: 8%;
    width: 35%;
    background: #6c63ff;
    padding: 1.25rem 2.1875rem;
    margin-top: 3rem;
    justify-self: center;
    border-radius: .3125rem;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; }
    main .section-two .section-two-cta a {
      text-decoration: none;
      color: white;
      justify-self: center;
      align-self: center;
      display: block; }
    main .section-two .section-two-cta:hover {
      background: #27246d; }

main .section-three {
  display: flex;
  width: 100%;
  height: 20.25rem;
  background-color: #1b0a1b;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin-top: 3.125rem; }
  main .section-three div img {
    width: 15.625rem;
    height: 15.625rem;
    border-radius: 50%;
    object-fit: cover;
    justify-content: center;
    align-content: center; }
  main .section-three .section-three-textos {
    width: 40%; }
    main .section-three .section-three-textos h2 {
      padding-bottom: 1.875rem; }
    main .section-three .section-three-textos p {
      padding-bottom: 1.875rem; }
    main .section-three .section-three-textos a {
      display: inline-block;
      background: #6c63ff;
      padding: .9375rem 1.875rem;
      margin-top: 1em;
      text-decoration: none;
      color: white; }
      main .section-three .section-three-textos a:hover {
        background: #27246d; }

main .section-four {
  display: flex;
  width: 100%;
  height: 20.3125rem;
  flex-direction: column;
  margin-top: 3.125rem;
  justify-content: center;
  align-items: center;
  gap: .625rem;
  padding: 20px 0; }
  main .section-four .section-four-boxes {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly; }
    main .section-four .section-four-boxes .section-four-box {
      display: flex;
      width: 18%;
      flex-direction: column;
      background-color: #D9D9D9;
      justify-content: center;
      align-items: center;
      border-radius: .3125rem;
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603); }
      main .section-four .section-four-boxes .section-four-box img {
        margin-bottom: .9375rem; }
      main .section-four .section-four-boxes .section-four-box .section-four-textos {
        padding: 20px;
        text-align: center; }
    main .section-four .section-four-boxes .section-four-box-atencion img {
      margin-bottom: 0px;
      height: 70px; }
  main .section-four .section-four-cta a {
    display: inline-block;
    width: 100%;
    background: #6c63ff;
    padding: .9375rem 1.875rem;
    margin-top: 2rem;
    justify-self: center;
    text-decoration: none;
    color: white; }
  main .section-four .section-four-cta:hover {
    background: #27246d; }

main .section-five {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 150px;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 50px; }
  main .section-five .section-five-boxes {
    display: flex;
    width: 100%;
    padding: 20px 0;
    justify-content: space-evenly;
    margin-left: 20px; }
    main .section-five .section-five-boxes div {
      width: 100%;
      height: 100%; }
      main .section-five .section-five-boxes div figure .section-five-images {
        width: 90%;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603); }
      main .section-five .section-five-boxes div h4 {
        text-align: center;
        padding-top: 20px; }
  main .section-five .section-five-cta {
    display: block; }
    main .section-five .section-five-cta a {
      width: 100%;
      background: #6c63ff;
      padding: .9375rem 1.875rem;
      text-decoration: none;
      color: white; }
    main .section-five .section-five-cta:hover {
      background: #27246d; }
