@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@300;400;600;700&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* index */

.body {
  font-family: "Times New Roman", Times, serif;
  background-color: #2f3a4c;
}

.header-fondo {
  display: flex;
  flex-direction: column;
  background-image: url(../assests/img/baul.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  gap: 30%;
}

.navbar {
  background: rgba(0, 0, 0, 0.63);
  color: #745821;
  display: flex;
  height: 5rem;
}

.logo-navbar {
  display: flex;
  background-image: url(../assests/img/logo.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 251px;
  height: 100%;
  margin-left: .3125rem;
}

.logo-navbar a {
  width: 251px;
  height: 100%;
}

.list-navbar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-decoration: none;
  gap: 20px;
  list-style-type: none;
  align-items: center;
  margin-right: 20px;
  padding-right: 2.5rem;
}

.list-navbar a {
  text-decoration: none;
  font-size: 1.375rem;
  font-weight: 600;
  color: #745821;
}

.logo-header{
align-self: center;
justify-self: center;
}

.section-one {
  background-image: url(../assests/img/piratelego.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  height: 324px;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
  color: white;
}

.section-one-textos {
  width: 25%;
}

.section-one-textos h1 {
  padding-bottom: 1.875rem;
}

.section-one-logo {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-content: center;
  height: 100%;
}

.section-two {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: repeat(3, 25%);
  grid-template-areas: 
  "image-uno image-dos image-tre"
  "a b c";
  margin-top: 1.875rem;
  gap: 1.25rem;
  justify-content: center;
}


.section-two div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-uno {
  grid-area: image-uno;
}

.image-dos {
  grid-area: image-dos;
}

.image-tre {
  grid-area: image-tre;
}

.gallery-cta{
  grid-area: a b c;
}


.section-two div h2 {
  color: white;
  padding: 0.5rem 0;
  text-align: center;

}

.section-two-cta {
  height: 2.5rem;
  width: 25%;
  background: #6c63ff;
  padding: .9375rem 1.875rem;
  margin-top: 2rem;
  text-decoration: none;
  color: white;
  justify-self: center;
  border-radius: .3125rem;
}

.section-three {
  display: flex;
  width: 100%;
  height: 20.25rem;
  background-color: rgb(27, 10, 27);
  color: white;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin-top: 3.125rem;
}


.section-three-textos {
  width: 40%;
}

.section-three-textos h2 {
  padding-bottom: 1.875rem;
}

.section-three-textos p {
  padding-bottom: 1.875rem;
}

.section-three-textos a {
  display: inline-block;
  background: #6c63ff;
  padding: .9375rem 1.875rem;
  margin-top: 1em;
  text-decoration: none;
  color: white;
}

.section-three img{

  width: 15.625rem;
  height: 15.625rem;
  border-radius: 50%;
  object-fit: cover;
  justify-content: center;
  align-content: center;
}


.section-four{
  display: flex;
  width: 100%;
  height: 20.3125rem;
  flex-direction: column;
  margin-top: 3.125rem;
  justify-content: center;
  align-items: center;
  /* background-color: #745821; */
  gap: .625rem;
  padding: 20px 0;
}

.section-four-boxes{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;

}

.section-four-box{
  display: flex;
  width: 18%;
  flex-direction: column;
  background-color: #D9D9D9;
  justify-content: center;
  align-items: center;
  border-radius: .3125rem;
}

.section-four-box img{
  margin-bottom: .9375rem;
}

.section-four-box-atencion img{
  margin-bottom: 0px;
  height: 70px;
}

.section-four-textos{
  padding: 20px;
  text-align: center;
}


.section-four-cta a{
  display: inline-block;
  width: 100%;
  background: #6c63ff;
  padding: .9375rem 1.875rem;
  margin-top: 2rem;
  justify-self: center;
  text-decoration: none;
  color: white;
}



/* section-five */



.section-five{
width: 100%;
height: 400px;
display: flex;
flex-direction: column;
margin-top: 50px;
padding-top: 50px;
justify-content: center;
align-items: center;
gap: 50px;
}

.section-five-boxes{
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: space-evenly;
  margin-left: 20px;

}

.section-five-boxes div{
  width: 100%;
  height: 100%;
  
}

.section-five-boxes div h4{
 text-align: center;
 padding-top: 20px;
}

.section-five-images{
  width: 90%;

}

.section-five-cta{
display: block;
}


.section-five-cta a{
  width: 100%;
  background: #6c63ff;
  padding: .9375rem 1.875rem;
  text-decoration: none;
  color: white;
}


/* footer */


.footer {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 150px;
}

.footer-one, .footer-two, .footer-three{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-evenly;
}

.footer-tittle{
  font-size: 1rem;
  color: white;
  padding: 15px;;
}

.footer-one-nav a{
  color: white;
  text-decoration: none;
}

.footer-two a{
  color: white;
  text-decoration: none;
}

.footer-three p{
  color: white;
  text-decoration: none;
}

/* contactanos */

.fondo-contactanos{
  background: linear-gradient(to right, #243949 0%, #517fa438 100%), url(../assests/img/baul-fondo-lux.jpg);
  background-size: cover;
  background-position: center;
}

.form{
  width: 800px;
  height: 600px;
  background: #fff;
  margin: 70px auto;
  padding: 30px 20px 40px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);
  overflow: hidden;
}

.form-tittle{
  padding: 20px 0;
}

.form-paragraph{
  padding: 20px 0;
}

.input{
  width: 100%;
  padding: 20px 5px;
  display: block;
  margin-bottom: 20px;
  border: 1px solid #b39b9b;
  outline: none;
  }

  .form-message{
    max-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
}

.form-submit{
    display: block;
    width: 100%;
    font-size: 18px;
    background-image: linear-gradient(to right, #304352 100%, #d7d2cc 0%);
    padding: 15px 30px;
    border: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.form-submit:hover{
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}



/* envios */

  