@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@300;400;600;700&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: red 2px solid; */
}

/* index */

.body {

  font-family: "Times New Roman", Times, serif;
  background-color: #2f3a4c;
}

.header-fondo {
  
  display: flex;
  flex-direction: column;
  background-image: url(../assests/img/baul.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  gap: 30%;
}

.navbar {
  display: flex; 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.63);
  color: #745821;
  height: 5rem;
  justify-content: space-between;
}

.logo-navbar {

  background-image: url(../assests/img/logo.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 251px;
  height: 100%;
  margin-left: .3125rem;
}

.logo-navbar a {
  width: 251px;
  height: 100%;
}

.list-navbar {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  gap: 20px;
  list-style-type: none;
  align-items: center;
  margin-right: 20px;
 
}

.list-navbar a {
    padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
  font-size: 1.375rem;
  font-weight: 600;
  color: #745821;
}

.logo-header{
align-self: center;
justify-self: center;
}

.section-one {
  background-image: url(../assests/img/piratelego.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  height: 324px;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
  color: white;
}

.section-one-textos {
  width: 25%;
}

.section-one-textos h1 {
  padding-bottom: 1.875rem;
}

.section-one-logo {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-content: center;
  height: 100%;
}

.section-two {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: repeat(2, 90%);
  grid-template-areas: 
  "image-uno image-dos image-tre"
  "a b c";
  margin-top: 1.875rem;
  gap: 1.25rem;
  justify-content: space-evenly
  
}


.section-two div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);
}

.image-uno {
  grid-area: image-uno;
}

.image-dos {
  grid-area: image-dos;
}

.image-tre {
  grid-area: image-tre;
}

.section-two-cta{
  grid-area: a b c;
}


.section-two div h2 {
  color: white;
  padding: 0.5rem 0;
  text-align: center;
  margin: 20px 0;

}

.section-two-cta {
  height: 8%;
  width: 35%;
  background: #6c63ff;
  padding: 1.25rem 2.1875rem;
  margin-top: 3rem;
  justify-self: center;
  border-radius: .3125rem;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

}

.section-two-cta a{
  text-decoration: none;
  color: white;
  justify-self: center;
  align-self: center;
  display: block;

}

.section-two-cta:hover{
  background: #27246d;
}

.section-three {
  display: flex;
  width: 100%;
  height: 20.25rem;
  background-color: rgb(27, 10, 27);
  color: white;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin-top: 3.125rem;
}


.section-three-textos {
  width: 40%;
}

.section-three-textos h2 {
  padding-bottom: 1.875rem;
}

.section-three-textos p {
  padding-bottom: 1.875rem;
}

.section-three-textos a {
  display: inline-block;
  background: #6c63ff;
  padding: .9375rem 1.875rem;
  margin-top: 1em;
  text-decoration: none;
  color: white;
}

.section-three-textos a:hover{
  background: #27246d;
}



.section-three img{

  width: 15.625rem;
  height: 15.625rem;
  border-radius: 50%;
  object-fit: cover;
  justify-content: center;
  align-content: center;
}


.section-four{
  display: flex;
  width: 100%;
  height: 20.3125rem;
  flex-direction: column;
  margin-top: 3.125rem;
  justify-content: center;
  align-items: center;
  /* background-color: #745821; */
  gap: .625rem;
  padding: 20px 0;
}

.section-four-boxes{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;

}

.section-four-box{
  display: flex;
  width: 18%;
  flex-direction: column;
  background-color: #D9D9D9;
  justify-content: center;
  align-items: center;
  border-radius: .3125rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);
}

.section-four-box img{
  margin-bottom: .9375rem;
}

.section-four-box-atencion img{
  margin-bottom: 0px;
  height: 70px;
}

.section-four-textos{
  padding: 20px;
  text-align: center;
}


.section-four-cta a{
  display: inline-block;
  width: 100%;
  background: #6c63ff;
  padding: .9375rem 1.875rem;
  margin-top: 2rem;
  justify-self: center;
  text-decoration: none;
  color: white;
}


.section-four-cta a:hover{
  background: #27246d;}



/* section-five */



.section-five{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 150px;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.section-five-boxes{
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: space-evenly;
  margin-left: 20px;

}

.section-five-boxes div{
  width: 100%;
  height: 100%;
  
}

.section-five-boxes div h4{
  text-align: center;
  padding-top: 20px;
}

.section-five-images{
  width: 90%;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);

}

.section-five-cta{
display: block;
}


.section-five-cta a{
  width: 100%;
  background: #6c63ff;
  padding: .9375rem 1.875rem;
  text-decoration: none;
  color: white;
}

.section-five-cta a:hover{
  background: #27246d;
}


/* footer */


.footer {

  display: flex;
  width: 100%;
  height: 200px;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
}

.footer-one, .footer-two, .footer-three{

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-evenly;
}

.footer-tittle{

  font-size: 1rem;
  color: white;
  padding: 15px;;
}

.footer-one-nav a{

  color: white;
  text-decoration: none;
}

.footer-two a{

  color: white;
  text-decoration: none;
}

.footer-three p{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

/* contactanos */

.fondo-contactanos{
  background: linear-gradient(to right, #243949 0%, #517fa438 100%), url(../assests/img/baul-fondo-lux.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.form-container{
padding: 4.375rem 2.5rem;
}

.form{
  width: 50rem;
  background: #fff;
  margin: 0 auto;
  padding: 30px 20px 40px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);
}

.form-tittle{
  padding: 20px 0;
}

.form-paragraph{
  padding: 20px 0;
}

.input{
  width: 100%;
  padding: 20px 5px;
  display: block;
  margin-bottom: 20px;
  border: 1px solid #b39b9b;
  outline: none;
  }

  .form-message{
    max-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
}

.form-submit{
    display: block;
    width: 100%;
    font-size: 18px;
    background-image: linear-gradient(to right, #304352 100%, #d7d2cc 0%);
    padding: 15px 30px;
    border: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.form-submit:hover{
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}



/* envios */

.fondo-envios{
  background: linear-gradient(to right, #243949da 0%, #517fa4d2 100%), url(../assests/img/pirateship.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 50px 70px 100px 70px;
}

.presentation-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
  gap: 2.5rem;
  margin-bottom: 15px;
}

.presentation-container h2{
  font-size: 2.5rem;
  color: #D4C08B;
}

.presentation-container h6{
  font-size: 1.5rem;
  color: black;
}

.content-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0 6.25rem;
  justify-content: center;
}

.parrafo-container { 
  padding: 20px;
  text-align: justify;
  
}

.parrafo-titulo {
  margin-bottom: 20px;
  font-size: 1.25rem;
  color: #D4C08B;
}

.content-container p {
  margin-bottom: 15px; 
  font-size: 1.125rem;
  font-weight: 700;
  
}

.content-container ul {
  margin-bottom: 15px;  
  padding-left: 20px; 
}

.content-container li {
  margin-bottom: 5px;
  list-style: none;
  font-size: 1.125rem;
  font-weight: 700;
}

/* CARRITO */

.section-cart-container{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: repeat(4, 25%);
  grid-template-areas: 
  "one one two"
  "one one two"
  "tre tre tre";
  margin-top: 1.875rem;
  gap: 1.25rem;
  justify-content: center;
}

.cart-container{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 300px;
  gap: 30px;
  padding: 40px;
  /* border: solid 2px; */
  justify-content: center;
  align-items: center;
  grid-area: one;
}

.cart-container img{
width: 80px;
height: 60px;
}

.cart-container h2{
font-size: 20px;

}

.cart-container p{
  font-size: 16px;

}

.cart-container a{
  height: 2.5rem;
  width: 25%;
  background: #6c63ff;
  padding: .9375rem 1.25rem;
  margin-top: 2rem;
  text-decoration: none;
  color: white;
  border-radius: .3125rem;
  text-align: center;
}

.sidebar-container{
  grid-area: two;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 31.25rem;
  background: #fff;
  margin: 0 auto;
  padding: 30px 20px 40px;
  gap: 1.875rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);
}


.gallery-cart-container{
  grid-area: tre;
  margin-bottom: 200px;
}

.cart-box-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;

}

.cart-box img{
  width: 200px;
  height: 200px;
}


/* TIENDA-BOOTSTRAP */

.t-container{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: repeat(4, 25%);
  grid-template-areas: 
  "a a a"
  "c b b"
  "c b b"
  "c b b";
  /* margin-top: 1.875rem; */
  gap: 2.5rem;
  justify-content: space-between;
  margin-bottom: 400px;
}

.t-presentation{
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assests/img/skycrapers.jpg);
  background-size: cover;
  background-position: center;
  margin-top: .625rem;
}
.t-presentation div h2{
  font-size: 5rem;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  color:#745821 ;
  

}

.t-presentation div p{
  font-size: 2rem;
  font-weight: 300;
  font-family: 'Times New Roman', Times, serif;
  color: #6c63ff;
 
}

.t-side{
  grid-area: c;
  justify-self: center;
  width: 70%;
  height: 50%;
  background: #fff;
  margin: 0 auto;
  padding: 30px 20px 40px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);
}

.side-title h5{
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 300;
}

.side-label{
  margin-bottom: 2.5rem;
}

.side-list{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.side-list ul{
  list-style: none;
}

.side-list ul li a{
  text-decoration: none;
  text-align: start;
  color: black;
  font-size: 16px;
  font-weight: 300;
}


.t-gallery-container{
  grid-area: b;
}

.t-gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5625rem;
  padding: 100px;}
  
  .card{
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);
    
  }
  .card:hover{
    background-color: #27246d;
  }

  .card img{
padding: 10px 20px;

}
.card-title{
  color: black;
}

.card-text{
  color: black;
}

.buton-class1{
  background-color: #6c63ff;
}

.buton-class2{
  background-color: #D4C08B;
}

.buton-class3{
  background-color: #745821
}

.buton-cards{
  background-color: #D4C08B;
}

.buton-cards:hover{
  background-color: #745821; 
}
















































/* RESPONSIVE */




@media(max-width: 1024px){
  .form{
    width: 700px;
}
  /* MAIN */
  .section-two-cta {
    font-size: 14px;
    width: 50%;
    }

  .section-five{
    margin-top: 20px;
    margin-bottom: 75px;
}

.section-three {
  margin-top: 70px;
}

.footer{
  /* margin-top: ; */
}

}

@media (max-width: 768px){
/* HEADER */
.header-fondo {
  height: 200pX;
  gap: 35px;
}


.logo-navbar {

  width: 11.875rem;
  height: 4.375rem;
  margin-top: .3125rem;
 
}

.list-navbar {
  gap: 15px;

}

.list-navbar a {
  font-size: 1rem;
  
 
}

.logo-header img{
 width: 34rem;
 height: 4.375rem;
}

/* MAIN */

.section-one{
  justify-content: space-evenly;
  width: 100%;
}

.section-one-textos {
  width: 25%;
  margin-right: 20px;

}

.section-one-textos h1 {
  font-size: 1.25rem;
}

.section-one-textos p{
  font-size: .875rem;
  text-align: justify;
}

.section-one-logo {
width: 50%;

}

.section-one-logo img{

}

.section-two-cta {
  width: 70%;
  }

.section-two{
  margin-bottom: 70px;
}

  .section-four{
    
  }

  .section-five{
    margin-top: 15px;
    margin-bottom: 55px;
    padding-top: 0;
}

.section-three {
  margin-top: 70px;
}

  


/* PAG CONTACTANOS */

  .form{
    width: 400px;
  }

  /* FOOTER */
  .footer {
    height: 190px;
   
  }

  
  .footer-one-nav a{
    color: white;
    text-decoration: none;
    font-size: .875rem;
  }
  
  .footer-two a{
    color: white;
    text-decoration: none;
    font-size: .875rem;
  }
  
  .footer-three p{
    color: white;
    text-decoration: none;
    font-size: .875rem;
  }


}





@media (max-width: 425px){
/* HEADER */
.header-fondo {
  display: flex;
  flex-direction: column;
  background-image: url(../assests/img/baul.jpg);
  width: 100%;
  height: auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.63);
  height: 18.75rem;
  gap: 1.25rem;
}

.logo-navbar {
width: 80%;
background-position: center;
padding: 3.125rem;
margin-top: .3125rem;
height: 7.5rem;
}

.list-navbar {
  flex-direction: column;
  margin-right: 0;
  margin-bottom: 10px;

}

.list-navbar a {
  font-size: 1rem;
  
}

.logo-header img {
  width: 0;
  height: 0;
  
}

/* MAIN-425 */

.section-one{
  justify-content: space-evenly;
  width: 100%;
  height: 750px;
  flex-direction: column;
  margin-bottom: 100px;
}

.section-one-textos {
  width: 100%;
  height: 25%;
  margin-right: 0px;

}

.section-one-textos h1 {
  text-align: center;
  margin-right: 0;
}

.section-one-textos p{
  font-size: .875rem;
  text-align: justify;
  padding: 0 1.25rem;
}

.section-one-logo{
width: 90%;
height: 50%;

}

.section-one-logo img{
  width: 25rem;
  height: 21.875rem;

  }
  

/* SECTION-TWO-425 */
.section-two {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 137.5rem;
  margin-top: 1.25rem;
  gap: 1.5625rem;
  justify-content: space-around;  
  align-items: center;
  
}

.image-uno, .image-dos, .image-tre {
  width: 90%;
  height: 100%;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);
}

.section-two div img {
  width: 100%;
  height: 100%;
}


.section-two div h2 {
  color: white;
  margin: 0.5rem 0;
  text-align: center;
  margin: 30px 0;

}

.section-two-cta {
  height: 4.375rem;
  width: 45%;
  background: #6c63ff;
  /* padding: 0px 0px; */
  margin-top: 4rem;
  flex-grow: 0;
  border-radius: .3125rem;
  justify-content: center;

}

.section-two-cta a{
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.section-two-cta:hover{
  background: #27246d;
}

/* SECTION-THREE-425 */

.section-three {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 42.5rem;
  justify-content: center;
  align-items: center;
}

.section-three div img{
  height: 13.75rem;
  width: 13.75rem;
}


.section-three-textos p {
  text-align: justify;
}

.section-three-textos a {
  display: flex;
justify-content: center;
}

/* SECTION-FOUR-425 */

.section-four{
  display: flex;
  width: 100%;
  height: 850px;
  flex-direction: column;
  margin-top: 90px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

.section-four-boxes{
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;

}

.section-four-box{
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .3125rem;
  padding: .9375rem;
}

.section-four-box img{
  height: 3.125rem;
}

.section-four-box-atencion img{
  margin-bottom: 0px;
  height: 50px;
}

/* SECTION-FIVE-425 */

.section-five{
  height: 2000px;
  margin-top: 20px;
  margin-bottom: 3.125rem;
  padding-top: 0px;
  gap: 50px;
}

.section-five-boxes{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0rem;
  gap: 30px;

}

.section-five-boxes div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  
}

.section-five-boxes div h4{
  text-align: center;
  margin: 20px 0px;
}

.section-five-images{
  width: 15.625rem;
  height: 15.625rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);

}


/* PAG ENVIOS */

.fondo-envios{

  padding: 30px 40px;
}



.presentation-container h2{
  font-size: 1.875rem;
  color: #D4C08B;
}

.presentation-container h6{
  font-size: 1.125rem;
  color: black;
  text-align: justify;
 
}

.content-container{
  gap: 15px;
  padding: 0 .625rem;
  justify-content: center;
}

.parrafo-container { 
  padding: 0 10px;
  text-align: justify;
  
}

.parrafo-titulo {
  margin-bottom: 15px;
  font-size: 1.25rem;
  color: #D4C08B;
}

.content-container p {
  margin-bottom: 15px; 
  font-size: 16px;
  font-weight: 600;
  
}

.content-container ul {
  margin-bottom: 15px;  
  padding-left: 20px; 
}

.content-container li {
  margin-bottom: 5px;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
}



/* PAG CONTACTANOS */

.form {
  width: 18.75rem;
  height: 37.5rem;
}

.form-tittle{
  font-size: 1.25rem;
  padding: 20px 0;
}

.form-paragraph{
  font-size: 12px;
  padding: 20px 0;
}

.input{
  width: 100%;
  padding: 18px 3px;
  margin-bottom: .4375rem;
}

.form-submit{
  margin-top: 1.875rem;
  font-size: .9375rem;  border: none;
}

/* MAIN */
.section-two-cta {
font-size: 12px;

}

  /* FOOTER */
  .footer {
    height: auto;
    flex-direction: column;
    gap: 1.875rem;
    text-align: center;
   
  }
  
  .footer-one{
    margin-top: 1.875rem;
  }
  
  .footer-three{
  margin-bottom: 1.875rem;
  }
  
  .footer-one-nav a{
    font-size: .625rem;
  }
  
  .footer-two a{
    font-size: .625rem;
  }
  
  .footer-three p{
    font-size: .625rem;
  }


}

@media (max-width: 320px){
 /* HEADER */

 .header-fondo {
  display: block;
  flex-direction: column;
  background-image: url(../assests/img/baul.jpg);
  width: 100%;
  height: auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.63);
  height: 18.75rem;
  gap: 1.25rem;
}

.logo-navbar {
width: 90%;
background-position: center;
padding: 50px;
margin-top: 0px;
}

.list-navbar {
  flex-direction: column;
  margin-right: 0;
  margin-bottom: 20px;

}

.list-navbar a {
  font-size: 1rem;
  
}

.logo-header img{
height: 0rem;
width: 0rem;
}


/* PAG ENVIOS */

.fondo-envios{

  padding: 10px 20px;
}


.presentation-container h2{
  font-size: 24px;
  color: #D4C08B;
}

.presentation-container h6{
  font-size: 1rem;
  color: black;
  text-align: justify;
 
}

.content-container{
  gap: 12px;
  padding: 0 .625rem;
  justify-content: center;
}

.parrafo-container { 
  padding: 0 10px;
  text-align: justify;
  
}

.parrafo-titulo {
  margin-bottom: 15px;
  font-size: 1.125rem;
  color: #D4C08B;
}

.content-container p {
  margin-bottom: 15px; 
  font-size: .875rem;
  font-weight: 600;
  
}

.content-container ul {
  margin-bottom: 15px;  
  padding-left: 20px; 
}

.content-container li {
  margin-bottom: 5px;
  list-style: none;
  font-size: .875rem;
  font-weight: 700;
}


/* PAG CONTACTANOS */

.form {
  
  width: 14.375rem;
}

.form-tittle{
  font-size: 1rem;
  padding: .625rem 0;
}

.form-paragraph{
  font-size: .625rem;
  padding: 20px 0;
}

.input{
  width: 100%;
  padding: 16px 2px;
  margin-bottom: .4375rem;
}


.form-submit{
  margin-top: 1.5625rem;
  font-size: .75rem;
  border: none;
}

/* PAG ENVIOS */

/* FOOTER */
.footer {
  height: auto;
  flex-direction: column;
  gap: 1.875rem;
  text-align: center;
 
}

.footer-one{
  margin-top: 1.875rem;
}

.footer-three{
margin-bottom: 1.875rem;
}

.footer-one-nav a{
  font-size: .625rem;
}

.footer-two a{
  font-size: .625rem;
}

.footer-three p{
  font-size: .625rem;
