header{
    .header-fondo{
        display: flex;
        flex-direction: column;
        background-image: url(../assests/img/baul.jpg);
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center;
        gap: 30%;
        .navbar{
            display: flex; 
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0.63);
            color: $color-titles;
            height: 5rem;
            justify-content: space-between;
            .logo-navbar{
                background-image: url(../assests/img/logo.png);
                background-size: cover;
                background-position: center;
                border-radius: 10px;
                width: 251px;
                height: 100%;
                margin-left: .3125rem;
                a{
                    width: 251px;
                    height: 100%;
                }
            }
            .list-navbar{
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                display: flex;
                justify-content: flex-end;
                text-decoration: none;
                gap: 20px;
                list-style-type: none;
                align-items: center;
                margin-right: 20px;
                a{
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                    text-decoration: none;
                    font-size: 1.375rem;
                    font-weight: 600;
                    color: #745821;
                }
            }
        }
    }
    .logo-header{
        align-self: center;
        justify-self: center;
        }
}