.fondo-segundo{
    .t-container{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(3, 25%);
        grid-template-rows: repeat(4, 25%);
        grid-template-areas: 
        "a a a"
        "c b b"
        "c b b"
        "c b b";
        gap: 2.5rem;
        justify-content: space-between;
        margin-bottom: 400px;
        .t-presentation{
            grid-area: a;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url(../assests/img/skycrapers.jpg);
            background-size: cover;
            background-position: center;
            margin-top: .625rem;
            div{
                h2{
                    font-size: 5rem;
                    font-weight: 700;
                    font-family: 'Times New Roman', Times, serif;
                    color:#745821;
                }
                p{
                    font-size: 2rem;
                    font-weight: 300;
                    font-family: 'Times New Roman', Times, serif;
                    color: #6c63ff;
                }
            }
        }
        .t-side{
            grid-area: c;
            justify-self: center;
            width: 80%;
            height: 100%;
            background: #fff;
            padding: 30px 20px 40px;
            margin-top: 0;
            text-align: center;
            border-radius: 8px;
            box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);
            .side-title{
                h5{
                    margin-bottom: 2.5rem;
                    font-size: 2rem;
                    font-weight: 300;
                }
            }
            .side-label{
                margin-bottom: 2.5rem;
            }
            .side-list{
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                h5{
                    color: black;
                }
                ul{
                    list-style: none;
                    li{
                        a{
                            text-decoration: none;
                            text-align: start;
                            color: black;
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        .t-gallery-container{
            grid-area: b;
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            gap: 40px;
            .t-gallery{
                width: 95%;
                display: flex;
                flex-wrap: wrap;
                gap: 1.5625rem;
                padding: 0;
                .card{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    gap: 10px;
                    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);
                    border-radius: .625rem;
                    width: 14.5rem;
                    height: 400px;
                    background-color: white;
                    &:hover{
                        background-color: #27246d;
                    }
                    img{
                        display: block;
                        width: 100%;
                        height: 60%;
                        object-fit: cover;
                        padding: 5px;
                    }
                    .card-body{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        margin: 0 auto;
                        width: 90%;
                        overflow: hidden;
                        padding: 0 5px 20px 5px;
                        h5{
                            color: black;
                            font-size: 1.25rem;
                        }
                        p{
                            color: black;
                            font-size: 1rem;
                        }
                        a{
                            background-color: #D4C08B;
                            width: 83px;
                            height: 38px;
                            color: black;
                            padding: 13px 0;
                            border-radius: 5px;
                            text-align: center;
                            margin-top: 10px;
                            text-decoration: none;
                            &:hover{
                                background-color: #745821; 
                            }
                        }
                    }
                }
            }
            .t-numberbar{
                width: 100%;
                display: flex;
                gap: .625rem;
                div{
                    .buton-uno{
                        display: flex;
                        list-style-type: none;
                        gap: 3px;
                        li{
                            a{
                                height: 40px;
                                color: #fff;
                                padding: 5px 10px;
                                font-weight: bold;
                                cursor: pointer;
                                transition: all 0.3s ease;
                                position: relative;
                                display: inline-block;
                                outline: none;
                                border-radius: 5px;
                                border: 2px solid #6c63ff;
                                background: #6c63ff;
                                text-decoration: none;
                                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.603);
                                &:hover{
                                    background: #fff;
                                    color: #6c63ff;
                                }
                            }
                        }
                    }
                }
                div{
                    .buton-dos{
                        display: flex;
                        list-style-type: none;
                        gap: 3px;
                        li{
                            a{
                                height: 40px;
                                color: #fff;
                                padding: 5px 10px;
                                font-weight: bold;
                                cursor: pointer;
                                transition: all 0.3s ease;
                                position: relative;
                                display: inline-block;
                                outline: none;
                                border-radius: 5px;
                                border: 2px solid #D4C08B;
                                background: #D4C08B;
                                text-decoration: none;
                                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.603);
                                &:hover{
                                    background: #fff;
                                    color: #D4C08B;
                                }
                            }
                        }
                    }
                }
                div{
                    .buton-tres{
                        display: flex;
                        list-style-type: none;
                        li{
                            a{
                                height: 40px;
                                color: #fff;
                                padding: 5px 10px;
                                font-weight: bold;
                                cursor: pointer;
                                transition: all 0.3s ease;
                                position: relative;
                                display: inline-block;
                                outline: none;
                                border-radius: 5px;
                                border: 2px solid #745821;
                                background: #745821;
                                text-decoration: none;
                                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.603);
                                &:hover{
                                    background: #fff;
                                    color: #745821;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}