.fondo-contactanos{
    background: linear-gradient(to right, #243949 0%, #517fa438 100%), url(../assests/img/baul-fondo-lux.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    .form-container{
        padding: 4.375rem 2.5rem;
        .form{
            width: 50rem;
            background: #fff;
            margin: 0 auto;
            padding: 30px 20px 40px;
            text-align: center;
            border-radius: 8px;
            box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);
            .form-tittle{
                padding: 20px 0;
            }
            .form-paragraph{
                padding: 20px 0;
            }
            .input{
                width: 100%;
                padding: 20px 5px;
                display: block;
                margin-bottom: 20px;
                border: 1px solid #b39b9b;
                outline: none;
            }
            .form-message{
                max-width: 100%;
                max-width: 100%;
                min-height: 150px;
                max-height: 150px;
            }
            .form-submit{
                display: block;
                width: 100%;
                font-size: 18px;
                background-image: linear-gradient(to right, #304352 100%, #d7d2cc 0%);
                padding: 15px 30px;
                border: none;
                color: #fff;
                font-weight: 700;
                cursor: pointer;
                &:hover{
                    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
                }
            }
        }
    }
}