@media (max-width: 768px){
    header{
        .header-fondo{
            height: 200pX;
            gap: 35px;
            .navbar{
                .logonavbar{
                    width: 11.875rem;
                    height: 4.375rem;
                    margin-top: .3125rem;
                }
                .listnavbar{
                    gap: 15px;
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
        .logo-header{
            img{
                width: 34rem;
                height: 4.375rem;
            }
        }
    }
    // INICIO
    main{
        .section-one{
            justify-content: space-evenly;
            width: 100%;
            .section-one-logo{
                width: 50%;
            }
            .section-one-textos{
                width: 25%;
                margin-right: 20px;
                h1{
                    font-size: 1.25rem;
                }
                p{
                    font-size: .875rem;
                    text-align: justify;
                }
            }
        }
        .section-two{
            margin-bottom: 70px;
            .section-two-cta{
                width: 70%;
            }
        }
        .section-three{
            margin-top: 70px;
        }
        .section-five{
            margin-top: 15px;
            margin-bottom: 55px;
            padding-top: 0;
        }
    }
    // CARRITO
    .fondo-segundo{
        .section-cart-container{
            height: 118.75rem;
            .cart-container{
                height: 37.5rem;
                a{
                    width: 45%;
                }
            }
        }
    }
    // CONTACTANOS
    .fondo-contactanos{
        .form-container{
            .form{
                width: 400px;
            }
        }
    }
    // TIENDA
    .fondo-segundo{
        .t-container{
            grid-template-columns: repeat(3, 25%);
            grid-template-rows: repeat(4, 18%);
            grid-template-areas: 
            "a a a"
            "c b b"
            "c b b"
            "c b b";
            gap: 10px;
            .t-presentation{
                height: 25rem;
                margin-top: .9375rem;
                div{
                    h2{
                        font-size: 3.75rem;
                    }
                    p{
                        font-size: 1.5625rem;
                    }
                }
            }
            .t-side{
                width: 90%;
                margin-top: 0px;
            }
            .t-gallery-container{
                margin-top: 0px;
                gap: 40px;
                .t-gallery{
                    gap: .9375rem;
                    .card{
                        width: 200px;
                        height: 360px;
                        .card-body{
                            h5{
                                font-size: 16px;
                            }
                            p{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
    // FOOTER
    .footer{
        height: 190px;
        .footer-one{
            .footer-one-nav{
                ul{
                    li{
                        a{
                            color: white;
                            text-decoration: none;
                            font-size: .875rem;
                        }
                    }
                }
            }
        }
        .footer-two{
            nav{
                ul{
                    li{
                        a{
                            color: white;
                            text-decoration: none;
                            font-size: .875rem;
                        }
                    }
                }
            }
        }
        .footer-three{
            p{
                color: white;
                text-decoration: none;
                font-size: .875rem;
            }
        }
    }
}