@media (max-width: 425px){
header{
    .header-fondo{
        display: flex;
        flex-direction: column;
        background-image: url(../assests/img/baul.jpg);
        width: 100%;
        height: auto;
        .navbar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.63);
            height: 18.75rem;
            gap: 1.25rem;
            .logo-navbar{
                width: 80%;
                background-position: center;
                padding: 3.125rem;
                margin-top: .3125rem;
                height: 7.5rem;
            }
            .list-navbar{
                flex-direction: column;
                margin-right: 0;
                margin-bottom: 10px;
                a{
                    font-size: 1rem;
                }
            }
        }
        .logo-header{
            img{
                width: 0;
                height: 0;
            }
        }
    }
}
    /* MAIN-425 */  
main{
        .section-one{
            justify-content: space-evenly;
            width: 100%;
            height: 750px;
            flex-direction: column;
            margin-bottom: 100px;
            .section-one-logo{
                width: 21.875rem;
                height: 21.875rem;
                img{
                    width: 21.875rem;
                    height: 21.875rem;
                }
            }
            .section-one-textos{
                width: 100%;
                height: 25%;
                margin-right: 0px;
                h1{
                    text-align: center;
                    margin-right: 0;
                }
                p{
                    font-size: .875rem;
                    text-align: justify;
                    padding: 0 1.25rem;
                }
            }
        }
        .section-two{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 137.5rem;
            margin-top: 1.25rem;
            gap: 1.5625rem;
            justify-content: space-around;  
            align-items: center;
            div{
                width: 90%;
                height: 100%;
                box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);
                // img{
                //     width: 100%;
                //     height: 100%;
                // }
                h2{
                    color: white;
                    margin: 0.5rem 0;
                    text-align: center;
                    margin: 30px 0;
                }
            }
            .section-two-cta{
                height: 4.375rem;
                width: 45%;
                background: #6c63ff;
                /* padding: 0px 0px; */
                margin-top: 4rem;
                flex-grow: 0;
                border-radius: .3125rem;
                justify-content: center;
                a{
                    font-size: 0.75rem;
                    font-weight: 500;
                    text-decoration: none;
                    color: white;
                    &:hover{
                        background: #27246d;
                    }
                }
            }
        }
        .section-three{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 42.5rem;
            justify-content: center;
            align-items: center;
            div{
                img{
                    height: 13.75rem;
                    width: 13.75rem;
                }
            }
            .section-three-textos{
                p{
                    text-align: justify;
                }
                a{
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .section-four{
            display: flex;
            width: 100%;
            height: 850px;
            flex-direction: column;
            margin-top: 90px;
            justify-content: center;
            align-items: center;
            gap: 30px;
            padding: 20px 0;
            .section-four-boxes{
                display: flex;
                flex-direction: column;
                width: 60%;
                gap: 1.25rem;
                justify-content: center;
                align-items: center;
                .section-four-box{
                    display: flex;
                    width: 90%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: .3125rem;
                    padding: .9375rem;
                    img{
                        height: 3.125rem;
                    }
                }
                .section-four-box-atencion{
                    img{
                        margin-bottom: 0px;
                        height: 50px;
                    }
                }
            }
        }
        .section-five{
            height: 2000px;
            margin-top: 20px;
            margin-bottom: 3.125rem;
            padding-top: 0px;
            gap: 50px;
            .section-five-boxes{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 20px 0;
                justify-content: space-evenly;
                align-items: center;
                margin-left: 0rem;
                gap: 30px;
                div{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .section-five-images{
                        width: 15.625rem;
                        height: 15.625rem;
                        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.603);
                    }
                    h4{
                        text-align: center;
                        margin: 20px 0px;
                    }
                }
            }
        }
    }
    // ENVIOS 425
    .fondo-envios{
        padding: 30px 40px;
        .envios-presentation{
            .presentation-container{
                h6{
                    font-size: 1.125rem;
                    color: black;
                    text-align: justify;
                }
                h2{
                    font-size: 1.875rem;
                    color: #D4C08B;
                }
            }
            .content-container{
                gap: 15px;
                padding: 0 .625rem;
                justify-content: center;
                .parrafo-container{
                    padding: 0 10px;
                    text-align: justify;
                    p{
                        margin-bottom: 15px; 
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .parrafo-titulo{
                        margin-bottom: 15px;
                        font-size: 1.25rem;
                        color: #D4C08B;
                    }
                    ul{
                        margin-bottom: 15px;  
                        padding-left: 20px; 
                        li{
                            margin-bottom: 5px;
                            list-style: none;
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    // CARRITO
    .fondo-segundo{
        .section-cart-container{
            display: grid;
            width: 100%;
            height: 3900px;
            grid-template-columns: repeat(1, 100%);
            grid-template-rows: repeat(3, 30%);
            grid-template-areas: 
            "one"
            "two"
            "tre";
            margin-top: 1.875rem;
            gap: 0px;
            justify-content: center;
            .gallery-cart-container{
                h3{
                    text-align: center;
                }
            }
        }
    }
    // CONTACTANOS 425
    .fondo-contactanos{
        .form-container{
            .form{
                width: 18.75rem;
                height: 37.5rem;
                .form-tittle{
                    font-size: 1.25rem;
                    padding: 20px 0;
                }
                .form-paragraph{
                    font-size: 12px;
                    padding: 20px 0;
                }
                .input{
                    width: 100%;
                    padding: 18px 3px;
                    margin-bottom: .4375rem;
                }
                .form-submit{
                    margin-top: 1.875rem;
                    font-size: .9375rem;  border: none;
                }
            }
        }
    }
    // TIENDA
    .fondo-segundo{
        .t-container{
            grid-template-columns: repeat(2, 25%);
            grid-template-rows: repeat(3, 5%);
            grid-template-areas: 
            "a a"
            "c c"
            "b b"
            "b b";
            gap: 40px;
            margin-bottom: 100px;
            .t-presentation{
                height: 250px;
                margin-top: .9375rem;
                text-align: center;
                div{
                    h2{
                        font-size: 35px;
                        text-align: center;
                    }
                    p{
                        font-size: 25px;
                    }
                }
            }
            .t-side{
                width: 100%;
                height: 100%;
                margin-top: 0px;
                .side-title{
                    h5{
                        margin-bottom: 20px;
                        font-size: 20px;
                        font-weight: 300;
                    }
                }
                .side-list{
                    gap: 20px;
                    ul{
                        li{
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .t-gallery-container{
                margin-top: 0px;
                gap: 30px;
                justify-content: center;
                align-items: center;
                .t-gallery{
                    gap: 20px;
                    justify-content: center;
                    .card{
                        width: 250px;
                        height: 350px;
                        img{
                            width: 80%;
                            height: 60%;
                        }
                        .card-body{
                            h5{
                                font-size: 16px;
                            }
                            p{
                                font-size: 13px;
                            }
                        }
                    }
                }
                .t-numberbar{
                    padding-left: 45px;
                }
            }
        }
    }
    
    // FOOTER
    .footer{
        height: auto;
        flex-direction: column;
        gap: 1.875rem;
        text-align: center;
        .footer-one{
            margin-top: 1.875rem;
            .footer-one-nav{
                ul{
                    li{
                        a{
                            font-size: .625rem;
                        }
                    }
                }
            }
            .footer-icons{
                justify-content: center;
            }
        }
        .footer-two{
            nav{
                ul{
                    li{
                        font-size: .625rem;
                    }
                }
            }
        }
        .footer-three{
            p{
                font-size: .625rem;
            }
        }
    }
    .main-404{
        .container-404{
            h1{
                font-size: 5rem;
            }
            p{
                font-size: 3rem;
            }
            a{
                padding: .625rem 1.5625rem;
                font-size: .875rem;
            }
        }
    }
}