@media(max-width: 1024px){
    .form{
        width: 700px;
    }
    
    main{
        .section-two{
            padding-bottom: 3.125rem;
            .section-two-cta {
                font-size: 14px;
                width: 50%;
                }
        }
        .section-five{
            margin-top: 20px;
            margin-bottom: 75px;
        }
        .section-three {
            margin-top: 70px;
        }
    }
    .fondo-segundo{
        .section-cart-container{
            .cart-container{
                a{
                    width: 35%;
                }
            }
        }
        .gallery-cart-container{
            .cart-box-container{
                justify-content: center;
            }
        }
    }
    .fondo-segundo{
        .t-container{
            margin-bottom: 200px; 
            .t-presentation{
                height: 30rem;
                margin-top: .9375rem;
            }
            .t-side{
                width: 90%;
                margin-top: 0px;
                height: 70%;
            }
            .t-gallery-container{
                margin-top: 0px;
                gap: 40px;
                .t-gallery{
                    gap: .9375rem;
                    .card{
                        width: 190px;
                        height: 360px;
                        .card-body{
                            h5{
                                font-size: 16px;
                            }
                            p{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

